:root {
  --main-bg-color: #f7ebe8;
  --primary-color: #197278;
  --secondary-color: #86ba90;
  --tertiary-color: #aa767c;
  --heading-font: "Courgette", cursive;
  --subheading-font: "Libre Baskerville", serif;
  --content-font: "Lato", sans-serif;
}

body {
  font-family: var(--content-font);
  background-color: var(--main-bg-color);
}

h1,
h4 {
  font-family: var(--heading-font);
}

h2 {
  font-family: var(--subheading-font);
}

h3 {
  font-family: var(--subheading-font);
  font-size: 20px;
}

.hero {
  text-align: center;
}

.hero h2 {
  font-size: 22px;
}

.hero h1 {
  font-size: 80px;
  color: var(--primary-color);
  margin: 25px;
}

.btn-portfolio {
  color: var(--main-bg-color);
  background: var(--tertiary-color);
  padding: 10px 25px;
  font-weight: 500;
  font-style: italic;
  border-radius: 12px;
}

.btn-applications {
  color: var(--main-bg-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 12px;
  font-size: 14px;
}

.weather-app-img {
  max-width: 650px;
  border-radius: 12px;
  border: 2px solid var(--tertiary-color);
}

.tester-portfolio-img {
  max-width: 650px;
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
}

.movie-project-img {
  max-width: 650px;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
}

.featured-project {
  font-size: 24px;
  color: gray;
}

.selfie-img,
.honey-img {
  max-width: 330px;
  border: solid 6px var(--secondary-color);
  border-radius: 20px;
}

.work-img {
  border: solid 3px var(--secondary-color);
  border-radius: 4px;
}

a {
  color: var(--tertiary-color);
}

a:hover {
  color: var(--primary-color);
  transition-delay: 50ms;
}

.mail-to {
  color: var(--primary-color);
}

.mail-to:hover {
  color: var(--secondary-color);
  transition-delay: 50ms;
}

footer .email-link {
  display: block;
  text-align: right;
  text-decoration: none !important;
  color: black;
  margin: 0 20px 5px 0;
}

@media (max-width: 980px) {
  .featured-projects-list {
    text-align: center;
  }
  .personal {
    padding: 0 !important;
    text-align: center;
  }
}
